---
import { getI18N } from "@src/i18n/index";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
---

<div
  class="relative z-10 bg-[url('/lib/bg-dark-grainy.webp')] w-full py-12 md:py-24 flex items-center justify-center md:rounded-t-[124px] rounded-t-[80px] sm:-mt-24 -mt-10"
>
  <div class="container px-4 md:px-6 mx-auto max-w-7xl py-16">
    <div class="relative flex justify-center items-center mb-16">
      <div id="contactme-section" class="border-t border-gray-300 w-full"></div>

      <span
        class="absolute px-8 py-3 bg-white text-xl rounded-full text-gray-800 font-medium shadow-sm"
      >
        {i18n.CONTACT_ME.TITLE}
      </span>
    </div>
    <div class="flex flex-col items-center space-y-4 text-center">
      <div class="rounded-full bg-gray-200 p-4">
        <img
          width="200px"
          height="200px"
          src="/lib/hands.webp"
          alt="Contact shaking hands icon"
        />
      </div>
      <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
        {i18n.CONTACT_ME.DESCRIPTION}
      </h2>
      <div class="flex flex-col sm:flex-row gap-4 min-[400px]:w-[360px] py-10">
        <button
          id="emailButton"
          class="bg-gray-900 text-white px-8 py-3 rounded-full inline-flex items-center justify-center space-x-2 hover:bg-gray-800 transition duration-300 text-lg"
        >
          <span> {i18n.CONTACT_ME.CONTACT_EMAIL} </span>

          <svg class="feather">
            <use href="/lib/feather-sprite.svg#mail"></use>
          </svg>
        </button>
        <button
          id="whatsappButton"
          class="bg-gray-900 text-white px-8 py-3 rounded-full inline-flex items-center justify-center space-x-2 hover:bg-gray-800 transition duration-300 text-lg"
        >
          <span>
            {i18n.CONTACT_ME.CONTACT_WHATSAPP}
          </span>

          <svg class="feather">
            <use href="/lib/feather-sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("whatsappButton")
    ?.addEventListener("click", function () {
      const phoneNumber = "1234567890";
      const message = encodeURIComponent(
        "Buenas. Necesito ayuda con un proyecto y me gustaria saber mas información sobre tus servicios. Gracias."
      );
      const whatsappURL = `https://wa.me/${phoneNumber}?text=${message}`;

      window.open(whatsappURL, "_blank");
    });

  document
    .getElementById("emailButton")
    ?.addEventListener("click", function () {
      const recipient = "danfisch.dev@gmail.com";
      const subject = encodeURIComponent("Info sobre servicios");
      const body = encodeURIComponent(
        "Buenas. Me interesa saber mas información sobre sus servicios para llevar a cabo un proyecto."
      );

      // Create the mailto link
      const mailtoLink = `mailto:${recipient}?subject=${subject}&body=${body}`;

      // Open the mailto link
      window.location.href = mailtoLink;
    });
</script>
