---
import { getI18N } from "@src/i18n/index";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
---

<footer class="bg-[url('/src/lib/bg-dark-grainy.webp')] text-gray-800 py-12">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/3 mb-6 md:mb-0">
        <h2 class="text-2xl font-bold mb-4">{i18n.SEO_TITLE_1}</h2>
        <div class="flex space-x-4">
          <a
            href="https://github.com/Therioz"
            target="_blank"
            class="rounded-md px-3 py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
          >
            <svg class="feather">
              <use href="../../feather-sprite.svg#github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/dany-fischer-ab9741235/"
            target="_blank"
            class="rounded-md px-3 py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
          >
            <svg class="feather">
              <use href="../../feather-sprite.svg#linkedin"></use>
            </svg></a
          >
        </div>
      </div>
      <div class="sm:hidden border-t border-gray-300 w-full pb-5"></div>

      <div class="w-full md:w-1/3 mb-6 md:mb-0 sm:pl-10 pl-0">
        <nav class="flex flex-col">
          <p class="text-xl font-bold">{i18n.FOOTER_SECTION.LINKS_SECTION}</p>
          <a
            href="#services-section"
            class="rounded-md py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
            >CV</a
          >
          <a
            href="#services-section"
            class="rounded-md py-2 text-md font-medium text-gray-700 hover:text-gray-400 transition-colors"
            >{i18n.SEO_TITLE_4}</a
          >
        </nav>
      </div>
      <div class="sm:hidden border-t border-gray-300 w-full pb-5"></div>

      <div class="w-full md:w-1/3 sm:pl-10 pl-0">
        <p class="text-xl font-bold">
          {i18n.FOOTER_SECTION.INFORMATION_SECTION}
        </p>
        <p class="text-gray-700 py-2">{i18n.SEO_TITLE_3}</p>
        <p class="text-gray-700 py-2">{i18n.FOOTER_SECTION.LOCATION}</p>
      </div>
    </div>
  </div>
</footer>
